<!DOCTYPE html>
<html lang="it">
  <head>
    <% include partials/head.ejs %>
  </head>
  <body style="padding-top: 72px;">
    <% include partials/header.ejs %>
    <div class="container-fluid">               
      <div class="row">
        <div class="col-lg-7 col-xl-5 px-4 pb-4 pl-xl-5 pr-xl-5">
          <section class="mx-n4 mx-xl-n5 mb-4 mb-xl-5">
            <!-- Slider main container-->
            <div class="swiper-container booking-detail-slider">
              <!-- Additional required wrapper-->
              <div class="swiper-wrapper">
                <!-- Slides-->
                <div class="swiper-slide"><img class="img-fluid" src="https://d19m59y37dris4.cloudfront.net/directory/1-5/img/photo/photo-1426122402199-be02db90eb90.jpg" alt="Our street"></div>
                <div class="swiper-slide"><img class="img-fluid" src="https://d19m59y37dris4.cloudfront.net/directory/1-5/img/photo/photo-1512917774080-9991f1c4c750.jpg" alt="Outside"></div>
                <div class="swiper-slide"><img class="img-fluid" src="https://d19m59y37dris4.cloudfront.net/directory/1-5/img/photo/photo-1494526585095-c41746248156.jpg" alt="Rear entrance"></div>
                <div class="swiper-slide"><img class="img-fluid" src="https://d19m59y37dris4.cloudfront.net/directory/1-5/img/photo/photo-1484154218962-a197022b5858.jpg" alt="Kitchen"></div>
                <div class="swiper-slide"><img class="img-fluid" src="https://d19m59y37dris4.cloudfront.net/directory/1-5/img/photo/photo-1522771739844-6a9f6d5f14af.jpg" alt="Bedroom"></div>
                <div class="swiper-slide"><img class="img-fluid" src="https://d19m59y37dris4.cloudfront.net/directory/1-5/img/photo/photo-1488805990569-3c9e1d76d51c.jpg" alt="Bedroom"></div>
              </div>
              <div class="swiper-pagination swiper-pagination-white"></div>
              <div class="swiper-button-prev swiper-button-white"></div>
              <div class="swiper-button-next swiper-button-white">   </div>
            </div>
          </section>
          <!-- Breadcrumbs -->
          <ol class="breadcrumb pl-0  justify-content-start">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/profiloHostControl/finestraListaPrenotazioniRicevute">I tuoi ospiti</a></li>
            <li class="breadcrumb-item active">Prenotazione ricevuta   </li>
          </ol>
          <div class="text-block">
            <p class="subtitle"><%= data.data_pren[0].data_inizio.toString().slice(0,15) %> - <%= data.data_pren[0].data_fine.toString().slice(0,15) %></p>
            <h1 class="hero-heading mb-3"><%= data.data_pren[0].titolo %></h1>
          </div>
          <div class="text-block">
            <h6 class="mb-4">Numero notti</h6> <!-- DA CALCOLARE O ELIMINARE -->
            <div class="row mb-3">
              <div class="col-md-6 d-flex align-items-center mb-3 mb-md-0">
                <div class="date-tile mr-3">
                  <div class="text-uppercase"> <span class="text-sm"><%= data.data_pren[0].data_inizio.toString().slice(4,7) %></span><br><strong class="text-lg"><%= data.data_pren[0].data_inizio.toString().slice(8,10) %></strong></div>
                </div>
                <p class="text-sm mb-0"><%= data.data_pren[0].data_inizio.toString().slice(0,3) %><br/>check-in</p>
              </div>
              <div class="col-md-6 d-flex align-items-center">
                <div class="date-tile mr-3">
                  <div class="text-uppercase"> <span class="text-sm"><%= data.data_pren[0].data_fine.toString().slice(4,7) %></span><br><strong class="text-lg"><%= data.data_pren[0].data_fine.toString().slice(8,10) %></strong></div>
                </div>
                <p class="text-sm mb-0"><%= data.data_pren[0].data_fine.toString().slice(0,3) %><br/>check-out</p>
              </div>
            </div>
          </div>
          <div class="text-block">
            <div class="row">
              <div class="col-sm">
                <h6>Indirizzo</h6>
                <p class="text-muted"><%= data.data_pren[0].indirizzo %> <%= data.data_pren[0].n_civico %>, <%= data.data_pren[0].citta %></p>
              </div>
              <div class="col-sm">
                <h6>Telefono</h6>
                <p class="text-muted"><%= data.data_pren[0].telefono_ut %></p>
              </div>
            </div>
          </div>
          <div class="text-block">
            <div class="media align-items-center mb-3">
              <div class="media-body">
                <h6><%= data.data_pren[0].tipo_all %></h6>
                <p class="text-muted mb-0">Ospite <a href="user-profile.html" class="text-reset"><%= data.data_pren[0].nome_ut %> <%= data.data_pren[0].cognome_ut %></a></p>
              </div><a href="user-profile.html"><img class="avatar avatar-lg avatar-border-white ml-4" src="https://d19m59y37dris4.cloudfront.net/directory/1-5/img/avatar/avatar-10.jpg" alt="Jack London"></a>
            </div>
          </div>
          <div class="text-block">
            <h6 class="mb-3">Altri ospiti</h6>
            <div class="row mb-3">
              <% if(data.data_pren.length == 0) { %>
              <p> Nessun altro ospite</p>
              <% } else { %>
              <% data.data_pren.forEach(element => { %>
              <div class="col-auto text-center text-sm"><img class="avatar avatar-border-white mb-1" src="https://d19m59y37dris4.cloudfront.net/directory/1-5/img/avatar/avatar-0.jpg" alt="Ondrej"><br><%= element.nome_osp %></div>
              <% });} %>
            </div>
          </div>
          <div class="text-block">
            <div class="row">
              <div class="col">
                <h6>Costo totale </h6>
                <p class="text-muted">€<%= data.data_pren[0].prezzo_totale %></p>
              </div>
              <div class="col align-self-center">
                <p class="text-right d-print-none"><a class="btn btn-link text-muted" href="#"><i class="far fa-file mr-2"></i>Ricevuta</a></p>
              </div>
            </div>
          </div>
          <div class="text-block">
            <h6 class="mb-4">Azioni </h6>
            <ul class="list-unstyled">
              <li class="mb-2"> 
                <div class="media align-items-center mb-3">
                  <div class="py-0">
                    <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#recensisciCliente" aria-expanded="false" aria-controls="recensisciCliente">Recensisci Cliente</button>
                    <div class="collapse mt-4" id="recensisciCliente">
                      <h5 class="mb-4">Recensione</h5>
                      <form class="form" id="contact-form" method="get" action="#">
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label class="form-label" for="name">Il tuo nome</label>
                              <input class="form-control" type="text" name="name" id="name" required="required">
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label class="form-label" for="rating">La tua valutazione</label>
                              <select class="custom-select focus-shadow-0" name="rating" id="rating">
                                <option value="5">&#9733;&#9733;&#9733;&#9733;&#9733; 5</option>
                                <option value="4">&#9733;&#9733;&#9733;&#9733;&#9734; 4</option>
                                <option value="3">&#9733;&#9733;&#9733;&#9734;&#9734; 3</option>
                                <option value="2">&#9733;&#9733;&#9734;&#9734;&#9734; 2</option>
                                <option value="1">&#9733;&#9734;&#9734;&#9734;&#9734; 1</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="form-label" for="review">Testo </label>
                          <textarea class="form-control" rows="4" name="review" id="review" placeholder="Scrivi qualcosa sul cliente" required="required"></textarea>
                        </div>
                        <button class="btn btn-primary" type="submit">Invia</button>
                      </form>
                    </div>
                  </div>
                </div>
              </li>
              <li class="mb-2"> 
                <div class="media align-items-center mb-3">
                  <div class="py-0">
                    <button class="btn btn-outline-danger" type="button" data-toggle="collapse" data-target="#annullaPrenotazione" aria-expanded="false" aria-controls="annullaPrenotazione">Annulla prenotazione</button>
                    <div class="collapse mt-4" id="annullaPrenotazione">
                      <h5 class="mb-4">Sei sicuro di voler annullare la prenotazione? </h5>
                      <div class="row">
                        <div class="col-sm-6 mb-2">
                          <button class="col btn btn-success" type="submit">SI</button>
                        </div>
                        <div class="col-sm-6 mb-2">
                          <button class="col btn btn-danger" type="button" data-toggle="collapse" data-target="#annullaPrenotazione" aria-expanded="false" aria-controls="annullaPrenotazione">NO</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="mb-2"> 
                <div class="media align-items-center mb-3">
                  <div class="media-body"><a role="button" class="btn btn-outline-info" href="mailto:<%= data.data_pren[0].email_ut %>">Contatta cliente</a></div>
                </div>
              </li>
              <li class="mb-2"> 
                <div class="media align-items-center mb-3">
                  <div class="py-0">
                    <button class="btn btn-outline-warning" type="button" data-toggle="collapse" data-target="#gestisciPrenotazione" aria-expanded="false" aria-controls="gestisciPrenotazione">Gestisci prenotazione</button>
                    <div class="collapse mt-4" id="gestisciPrenotazione">
                      <h5 class="mb-4">Accetta o declina la prenotazione </h5>
                      <div class="row">
                        <div class="col-sm-6 mb-2">
                          <button class="col btn btn-success" type="submit">Accetta</button>
                        </div>
                        <div class="col-sm-6 mb-2">
                          <button class="col btn btn-danger" type="submit">Declina</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="text-block d-print-none"> <!-- PENSARE PER LA RICEVUTA -->
            <button class="btn btn-link pl-0" onclick="window.print()"><i class="fa fa-print mr-2"></i>Print </button>
          </div>
        </div>
        <div class="col-lg-5 col-xl-7 map-side-lg px-lg-0">
          <div class="map-full shadow-left" id="detailSideMap"></div>
        </div>
      </div>
    </div>
    <!-- Footer-->
    <% include partials/footer.ejs %>
    
    <!-- scriptFooter -->
    <% include partials/scriptFooter.ejs %>

  </body>
</html>