<!DOCTYPE html>
<html lang="it">
  <head>
    <% include partials/head.ejs %>
  </head>
  <body style="padding-top: 72px;">
    <% include partials/header.ejs %>
    <section class="py-5">
      <div class="container">
        <!-- Breadcrumbs -->
        <ol class="breadcrumb pl-0  justify-content-start">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active">Vista Host    </li>
        </ol>
        <div class="d-flex justify-content-between align-items-end mb-5">
          <h1 class="hero-heading mb-0">Prenotazioni ricevute </h1>
        </div>
        <div class="d-flex justify-content-between align-items-center flex-column flex-lg-row mb-5">
          <div class="mr-3">
            <p class="mb-3 mb-lg-0">Hai <strong><%= data.length %> prenotazioni</strong> tra le tue proprietà.</p>
          </div>
        </div>
        <div class="list-group shadow mb-5">
          <% if(data.length == 0) { %>
            <div class="col-xl-3 col-md-4 col-sm-6 mb-5">
              <h3 class="col-12 hero-heading mb-2">Nessuna prenotazione</h3>
              <img src="https://d19m59y37dris4.cloudfront.net/directory/1-5/img/illustration/undraw_celebration_0jvk.svg" alt="" style="width: 300px;">
            </div>
          <% } else { %>
          <% data.forEach(element => { %>
          <a class="list-group-item list-group-item-action p-4" href="/profiloHostControl/finestraPrenotazioneRicevuta?id=<%= element.ID_PREN %>">
            <div class="row">
              <div class="col-lg-4 align-self-center mb-4 mb-lg-0">
                <div class="d-flex align-items-center mb-3">
                  <h2 class="h5 mb-0"><%= element.nome_ut + ' ' + element.cognome_ut %></h2><img class="avatar avatar-sm avatar-border-white ml-3" src="../images/ominoUtente.png">
                </div>
                <p class="text-sm text-muted"><%= element.tipo_all %></p><span class="badge badge-pill p-2 badge-secondary-light"><%= element.data_inizio %> - <%= element.data_fine %></span>
              </div>
              <div class="col-lg-8">
                <div class="row">
                  <div class="col-6 col-md-4 col-lg-3 py-3 mb-3 mb-lg-0">
                    <h6 class="label-heading">Titolo alloggio</h6>
                    <p class="text-sm font-weight-bold"><%= element.titolo %></p>
                    <h6 class="label-heading">Notti </h6>
                    <p class="text-sm font-weight-bold mb-0"><%= element.data_fine_num.toString().split(' ')[2] - element.data_inizio_num.toString().split(' ')[2] %></p>
                  </div>
                  <div class="col-6 col-md-4 col-lg-3 py-3">
                    <h6 class="label-heading">Ospiti</h6>
                    <p class="text-sm font-weight-bold"><%= element.num_ospiti %> pax</p>
                    <h6 class="label-heading">Prezzo</h6>
                    <p class="text-sm font-weight-bold mb-0">€<%= element.prezzo_totale %></p>
                  </div>
                  <div class="col-6 col-md-4 col-lg-3 py-3">
                    <h6 class="label-heading">Data prenotazione</h6>
                    <p class="text-sm font-weight-bold"><%= element.data_prenotazione %>                                        </p>
                    <h6 class="label-heading">Indirizzo</h6>
                    <p class="text-sm font-weight-bold mb-0"><%= element.indirizzo %>, <%= element.n_civico %></p>
                  </div>
                  <% if (element.stato_prenotazione == 'richiesta') { %>
                  <div class="col-12 col-lg-3 align-self-center">
                    <span class="text-primary text-sm text-uppercase mr-4 mr-lg-0">
                      <i class="fa fa-check fa-fw mr-2"> </i>Richiesta  
                    </span>
                    <br class="d-none d-lg-block">
                    <span class="text-muted text-sm text-uppercase">
                      <i class="fa fa-times fa-fw mr-2"> </i>Confermata
                    </span>
                    <br class="d-none d-lg-block">
                  </div>
                  <% } else if (element.stato_prenotazione == 'confermata') { %>
                  <div class="col-12 col-lg-3 align-self-center">
                    <span class="text-primary text-sm text-uppercase">
                      <i class="fa fa-check fa-fw mr-2"> </i>Confermata  
                    </span>
                    <br class="d-none d-lg-block">
                    <span class="text-muted text-sm text-uppercase">
                      <i class="fa fa-times fa-fw mr-2"> </i>Pagata
                    </span>
                  </div>
                  <% } else if (element.stato_prenotazione == 'pagata') { %>
                  <div class="col-12 col-lg-3 align-self-center">
                    <span class="text-primary text-sm text-uppercase">
                      <i class="fa fa-check fa-fw mr-2"> </i>Confermata  
                    </span>
                    <br class="d-none d-lg-block">
                    <span class="text-primary text-sm text-uppercase">
                      <i class="fa fa-check fa-fw mr-2"> </i>Pagata
                    </span>
                  </div>
                  <% } else { %>
                  <div class="col-12 col-lg-3 align-self-center">
                    <span class="text-primary text-sm text-uppercase mr-4 mr-lg-0">
                      <i class="fa fa-check fa-fw mr-2"> </i>Conclusa
                    </span>
                  </div>
                  <% } %>
                </div>
              </div>
            </div>
          </a>
          <% });} %>
        </div>
      </div>
    </section>
    <!-- Footer-->
    <% include partials/footer.ejs %>

    <!-- scriptFooter -->
    <% include partials/scriptFooter.ejs %>
  </body>
</html>