
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- head -->
        <% include partials/head.ejs %>
        <!-- head -->
        <style>
          /* Chrome, Safari, Edge, Opera */
          input::-webkit-outer-spin-button,
          input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
  
          /* Firefox */
          input[type=number] {
            -moz-appearance: textfield;
          }
      </style>
    </head>
  <body style="padding-top: 72px;">
    <!-- header -->
    <% include partials/header.ejs %>
    <!-- header -->
    <section class="py-5">
      <div class="container">
        <h1 class="hero-heading mb-0">Informazioni Alloggio</h1>
        <p class="text-muted mb-5">Gestisci le informazioni del tuo Alloggio.</p>
        <div class="row">
          <div class="col-lg-7">
            <!--INFORMAZIONI BASE-->
            <div class="text-block"> 
              <div class="row mb-3">
                <div class="col-sm-9">
                  <h5>Informazioni di Base</h5>
                </div>
                <div class="col-sm-3 text-right">
                  <button class="btn btn-link pl-0 text-primary collapsed" type="button" data-toggle="collapse" data-target="#informazioni" aria-expanded="false" aria-controls="informazioni">Modifica</button>
                </div>
              </div>
              <div class="collapse" id="informazioni">
                <form method="POST" action="/gestisciAlloggioControl/effettuaModifiche">
                  <div class="row pt-4">
                    <div class="form-group col-md-6">
                      <label class="form-label" for="tipo_all">Tipo Alloggio</label>
                        <select class="selectpicker form-control" name="tipo_all" id="tipo_all" data-style="btn-selectpicker" title="" aria-describedby="propertyTypeHelp" >
                          <option value="" disabled selected><%= data.tipo_all %></option>
                          <option value="B&B">B&B</option>
                          <option value="Casa Vacanza">Casa Vacanza</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                      <label class="form-label" for="name">Nome</label>
                      <input class="form-control" type="text" name="nome_proprietario" id="nome_proprietario" value="<%= data.nome_proprietario %>">
                    </div>
                    <div class="form-group col-md-12">
                      <label class="form-label" for="indirizzo">Via e numero civico (Es. Via Roma, 1)</label>
                      <input class="form-control" name="indirizzo" id="indirizzo" value="<%= data.indirizzo %>, <%= data.n_civico %>"  >
                    </div>
                    <div class="form-group col-md-6">
                      <label class="form-label" for="citta">Città</label>
                      <input class="form-control" name="citta" required maxlength="20" id="citta" value="<%= data.citta %>" > 
                    </div>
                    <div class="form-group col-md-6">
                      <label class="form-label" for="regione">Regione</label>
                      <select class="selectpicker form-control" name="regione" id="regione" data-style="btn-selectpicker" title="" aria-describedby="propertyTypeHelp" >
                        <option value="" disabled selected><%= data.regione %></option>
                        <option value="Abruzzo">Abruzzo</option>
                        <option value="Basilicata">Basilicata</option>
                        <option value="Calabria">Calabria</option>
                        <option value="Campania">Campania</option>
                        <option value="Emilia-Romagna">Emilia-Romagna</option>
                        <option value="Friuli-Venezia Giulia">Friuli-Venezia Giulia</option>
                        <option value="Lazio">Lazio</option>
                        <option value="Liguria">Liguria</option>
                        <option value="Lombardia">Lombardia</option>
                        <option value="Marche">Marche</option>
                        <option value="Molise">Molise</option>
                        <option value="Piemonte">Piemonte</option>
                        <option value="Puglia">Puglia</option>
                        <option value="Sardegna">Sardegna</option>
                        <option value="Sicilia">Sicilia</option>
                        <option value="Toscana">Toscana</option>
                        <option value="Trentino-Alto Adige">Trentino-Alto Adige</option>
                        <option value="Umbria">Umbria</option>
                        <option value="Valle d'Aosta">Valle d'Aosta</option>
                        <option value="Veneto">Veneto</option>
                      </select>
                    </div>
                    <div class="form-group col-md-6">
                      <label class="form-label" for="provincia">Provincia</label>
                      <input class="form-control" name="provincia" id="provincia" value="<%= data.provincia %>" > 
                    </div>
                    <div class="form-group col-md-6">
                      <label class="form-label" for="cap">CAP</label>
                      <input class="form-control" type="number" name="cap" id="cap" value="<%= data.cap%>" > 
                    </div>
                    <div class="form-group col-md-6">
                      <label class="form-label" for="ospiti">Numero Ospiti</label>
                      <input class="form-control" type="number" name="num_ospiti" id="num_ospiti" min="2" max="8" value="<%= data.num_ospiti_max %>" > 
                    </div>
                    <div class="form-group col-md-6">
                      <label class="form-label">Distanza dal centro</label>
                      <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                          <div class="custom-control custom-radio">
                            <input class="custom-control-input" type="radio" id="distanza_centro_0" value="D" name="distanza_centro" <%= data.distanza_centro == 'D' ? "checked" : "" %> >
                            <label class="custom-control-label" for="distanza_centro_0">Distante</label>
                          </div>
                        </li>
                        <li class="list-inline-item">
                          <div class="custom-control custom-radio">
                            <input class="custom-control-input" type="radio" id="distanza_centro_1" value="M" name="distanza_centro" <%= data.distanza_centro == 'M' ? "checked" : "" %> >
                            <label class="custom-control-label" for="distanza_centro_1">Medio</label>
                          </div>
                        </li>
                        <li class="list-inline-item">
                          <div class="custom-control custom-radio">
                            <input class="custom-control-input" type="radio" id="distanza_centro_2" value="V" name="distanza_centro"  <%= data.distanza_centro == 'V' ? "checked" : "" %>>
                            <label class="custom-control-label" for="distanza_centro_2">Vicino</label>
                          </div>
                        </li>
                      </ul> 
                    </div>
                  </div>
                  <button class="btn btn-outline-primary mb-4" type="submit">Salva Modifiche</button>
                </form>
              </div>
            </div>
            <!--SERVIZI-->
            <div class="text-block"> 
              <div class="row mb-3">
                <div class="col-sm-9">
                  <h5>Servizi</h5>
                </div>
                <div class="col-sm-3 text-right">
                  <button class="btn btn-link pl-0 text-primary collapsed" type="button" data-toggle="collapse" data-target="#servizi" aria-expanded="false" aria-controls="servizi">Modifica</button>
                </div>
              </div>
              <div class="collapse" id="servizi">
                <form method="POST" action="/gestisciAlloggioControl/effettuaModifiche">
                  <div class="row pt-4">
                    <div class="form-group col-md-12">
                      <div class="col-lg ml-auto">
                        <div class="row align-items-center">
                          <div class="col-lg-3">
                            <label class="form-label col-sm-6">Letti Singoli</label>
                            <div class="d-flex align-items-center">
                              <div class="btn btn-items btn-items-decrease">-</div>
                              <input class="form-control input-items" name="num_letti_singoli" type="number" value="<%= data.num_letti_singoli %>" required max="10" min="0">
                              <div class="btn btn-items btn-items-increase">+</div>
                            </div>
                          </div>
                          <div class="col-lg-3">
                            <label class="form-label col-sm-6">Letti Matrimoniali</label>
                            <div class="d-flex align-items-center">
                              <div class="btn btn-items btn-items-decrease">-</div>
                              <input class="form-control input-items" name="num_letti_matrimoniali" type="number" value="<%= data.num_letti_matrimoniali %>" required max="10" min="0">
                              <div class="btn btn-items btn-items-increase">+</div>
                            </div>
                          </div>
                          <div class="col-lg-3">
                            <label class="form-label col-sm-6">Camere &nbsp &nbsp &nbsp </label>
                            <div class="d-flex align-items-center">
                              <div class="btn btn-items btn-items-decrease">-</div>
                              <input class="form-control input-items" name="num_camere" type="number" value="<%= data.num_camere %>" required max="10" min="0">
                              <div class="btn btn-items btn-items-increase">+</div>
                            </div>
                          </div>
                          <div class="col-lg-3">
                            <label class="form-label col-sm-6">Bagni &nbsp &nbsp &nbsp </label>
                            <div class="d-flex align-items-center">
                              <div class="btn btn-items btn-items-decrease">-</div>
                              <input class="form-control input-items" name="num_bagni" type="number" value="<%= data.num_bagni %>" required max="10" min="0">
                              <div class="btn btn-items btn-items-increase">+</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group col-md-12">
                      <div class="form-group" id="checkbox-value">
                        <label class="form-label">Servizi</label>
                            <ul class="list-inline mb-0">
                              <li class="list-inline-item">
                                <div class="custom-control custom-checkbox">
                                  <input class="custom-control-input" type="checkbox" id="cucina" value="true" name="cucina" <%= data.cucina ? "checked" : "" %>>
                                  <label class="custom-control-label" for="cucina">Cucina</label>
                                </div>
                              </li>
                              <li class="list-inline-item">
                                <div class="custom-control custom-checkbox">
                                  <input class="custom-control-input" type="checkbox" id="lavanderia" value="true" name="lavanderia" <%= data.lavanderia ? "checked" : "" %>>
                                  <label class="custom-control-label" for="lavanderia">Lavanderia</label>
                                </div>
                              </li>
                              <li class="list-inline-item">
                                <div class="custom-control custom-checkbox">
                                  <input class="custom-control-input" type="checkbox" id="aria_condizionata" value="true" name="aria_condizionata" <%= data.aria_condizionata ? "checked" : "" %>>
                                  <label class="custom-control-label" for="aria_condizionata">Aria Condizionata</label>
                                </div>
                              </li>
                              <li class="list-inline-item">
                                <div class="custom-control custom-checkbox">
                                  <input class="custom-control-input" type="checkbox" id="wifi" value="true" name="wifi" <%= data.wifi ? "checked" : "" %>>
                                  <label class="custom-control-label" for="wifi">Wifi</label>
                                </div>
                              </li>
                              <li class="list-inline-item">
                                <div class="custom-control custom-checkbox">
                                  <input class="custom-control-input" type="checkbox" id="colazione" value="true" name="colazione" <%= data.colazione ? "checked" : "" %>>
                                  <label class="custom-control-label" for="colazione">Colazione</label>
                                </div>
                              </li>
                              <li class="list-inline-item">
                                <div class="custom-control custom-checkbox">
                                  <input class="custom-control-input" type="checkbox" id="asciugacapelli" value="true" name="asciugacapelli" <%= data.asciugacapelli ? "checked" : "" %>>
                                  <label class="custom-control-label" for="asciugacapelli">Asciugacapelli</label>
                                </div>
                              </li>
                              <li class="list-inline-item">
                                <div class="custom-control custom-checkbox">
                                  <input class="custom-control-input" type="checkbox" id="tv" value="true" name="tv" <%= data.tv ? "checked" : "" %>>
                                  <label class="custom-control-label" for="tv">Tv</label>
                                </div>
                              </li>   
                            </ul>
                            <label class="form-label" style="margin-top: .7rem;">Servizi Essenziali</label>
                            <ul class="list-inline mb-0">
                              <li class="list-inline-item">
                                <div class="custom-control custom-checkbox">
                                  <input class="custom-control-input" type="checkbox" id="carta_igienica" value="true" name="carta_igienica" <%= data.carta_igienica ? "checked" : "" %>>
                                  <label class="custom-control-label" for="carta_igienica">Carta igienica</label>
                                </div>
                              </li>
                              <li class="list-inline-item">
                                <div class="custom-control custom-checkbox">
                                  <input class="custom-control-input" type="checkbox" id="sapone_mani_corpo" value="true" name="sapone_mani_corpo" <%= data.sapone_mani_corpo ? "checked" : "" %>>
                                  <label class="custom-control-label" for="sapone_mani_corpo">Sapone mani e corpo</label>
                                </div>
                              </li>
                              <li class="list-inline-item">
                                <div class="custom-control custom-checkbox">
                                  <input class="custom-control-input" type="checkbox" id="asciugamano" value="true" name="asciugamano" <%= data.asciugamano ? "checked" : "" %>>
                                  <label class="custom-control-label" for="asciugamano">Asciugamano</label>
                                </div>
                              </li>
                              <li class="list-inline-item">
                                <div class="custom-control custom-checkbox">
                                  <input class="custom-control-input" type="checkbox" id="accappatoio" value="true" name="accappatoio" <%= data.accappatoio ? "checked" : "" %>>
                                  <label class="custom-control-label" for="accappatoio">Accappatoio</label>
                                </div>
                              </li>
                              <li class="list-inline-item">
                                <div class="custom-control custom-checkbox">
                                  <input class="custom-control-input" type="checkbox" id="cuscino" value="true" name="cuscino" <%= data.cuscino ? "checked" : "" %>>
                                  <label class="custom-control-label" for="cuscino">Cuscino</label>
                                </div>
                              </li>
                              <li class="list-inline-item">
                                <div class="custom-control custom-checkbox">
                                  <input class="custom-control-input" type="checkbox" id="lenzuola" value="true" name="lenzuola" <%= data.lenzuola ? "checked" : "" %>>
                                  <label class="custom-control-label" for="lenzuola">lenzuola</label>
                                </div>
                              </li>   
                            </ul>
                      </div>
                    </div>
                  </div>
                  <button class="btn btn-outline-primary mb-4" type="submit">Salva Modifiche</button>
                </form>
              </div>
            </div>
            <!--TESTO-->
            <div class="text-block"> 
              <div class="row mb-3">
                <div class="col-sm-9">
                  <h5>Testo</h5>
                </div>
                <div class="col-sm-3 text-right">
                  <button class="btn btn-link pl-0 text-primary collapsed" type="button" data-toggle="collapse" data-target="#testo" aria-expanded="false" aria-controls="testo">Modifica</button>
                </div>
              </div>
              <div class="collapse" id="testo">
                <form method="POST" action="/gestisciAlloggioControl/effettuaModifiche">
                  <div class="row pt-4">
                    <div class="form-group col-md-12">
                      <div class="form-group">
                        <label class="form-label" for="titolo_annuncio">titolo annuncio</label>
                        <input class="form-control" type="text" name="titolo_annuncio" id="titolo_annuncio" value="<%= data.titolo %>" required maxlength="40">
                      </div>
                    </div>
                    <div class="form-group col-md-12">
                      <div class="form-group"> 
                        <div class="form-group mb-5">
                          <label class="form-label" for="descrizione_alloggio">Descrizione Alloggio</label>
                          <textarea class="form-control" name="descrizione_alloggio" id="descrizione_alloggio" rows="5" aria-describedby="descriptionHelp"><%= data.descrizione_alloggio %></textarea>
                        </div>
                        <div class="form-group mb-5">
                          <label class="form-label" for="descrizione_regole">Descrizione Regole Alloggio</label>
                          <textarea class="form-control" name="descrizione_regole" id="descrizione_regole" rows="3" aria-describedby="availabilityHelp" ><%= data.descrizione_regole %></textarea>
                        </div>
                        <div class="form-group mb-5">
                          <label class="form-label" for="descrizione_note">note</label>
                          <textarea class="form-control" name="descrizione_note" id="descrizione_note" rows="3" aria-describedby="availabilityHelp"><%= data.note %></textarea>
                          <small class="form-text text-muted mt-2" id="commento_note">(Facoltativo)</small>
                          <small class="form-text text-muted mt-2" id="commento_note_2">Aggiungi delle note per precisare alcuni aspetti dell'alloggio. (Es. Camera con bagno, salone con divano letto, etc..)</small>
                        </div>   
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      <div class="form-group">
                        <label class="form-label" for="prezzo">Prezzo €</label>
                        <input class="form-control col-lg-3" name="prezzo" id="prezzo" type="number" value="<%= data.prezzo %>">
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      <div class="form-group">
                        <label class="form-label" for="tassa">Tassa di soggiorno €</label>
                        <input class="form-control col-lg-3" name="tassa" id="tassa" type="number" value="<%= data.tasse %>">
                      </div>
                    </div>
                  </div>
                  <button class="btn btn-outline-primary mb-4" type="submit">Salva Modifiche</button>
                </form>
              </div>
            </div>
            <!--FOTO-->
            <div class="text-block"> 
              <div class="row mb-3">
                <div class="col-sm-9">
                  <h5>Foto</h5>
                </div>
                <div class="col-sm-3 text-right">
                  <button class="btn btn-link pl-0 text-primary collapsed" type="button" data-toggle="collapse" data-target="#foto" aria-expanded="false" aria-controls="foto">Modifica</button>
                </div>
              </div>
              <div class="collapse" id="foto">
                <form method="POST" action="/gestisciAlloggioControl/effettuaModifiche" enctype="multipart/form-data">
                  <div class="row pt-4">
                    <div class="form-group col-md-12">
                      <div class="text-block">
                        <div class="text-block dz-message text-muted">
                          <input type="file" name="fileToUpload" multiple>
                        </div>
                      </div>
                    </div>
                    <!--GALLERIA-->
                    <div class="form-group col-md-12">
                      <div class="text-block">
                        <h7 class="mb-4">Galleria</h7>
                        <div class="row gallery mb-3 ml-n1 mr-n1">
                          <% if(data.foto_0 != undefined) { %>
                            <div class="col-lg-4 col-6 px-1 mb-2"><a href="/images/uploads/<%= data.foto_0 %>" data-fancybox="gallery" ><img class="img-fluid" src="/images/uploads/<%= data.foto_0 %>" alt="..."></a></div>
                          <% } %>
                          <% if(data.foto_1 != undefined) { %>
                            <div class="col-lg-4 col-6 px-1 mb-2"><a href="/images/uploads/<%= data.foto_1 %>" data-fancybox="gallery" ><img class="img-fluid" src="/images/uploads/<%= data.foto_1 %>" alt="..."></a></div>
                          <% } %>
                          <% if(data.foto_2 != undefined) { %>
                            <div class="col-lg-4 col-6 px-1 mb-2"><a href="/images/uploads/<%= data.foto_2 %>" data-fancybox="gallery" ><img class="img-fluid" src="/images/uploads/<%= data.foto_2 %>" alt="..."></a></div>
                          <% } %>
                          <% if(data.foto_3 != undefined) { %>
                            <div class="col-lg-4 col-6 px-1 mb-2"><a href="/images/uploads/<%= data.foto_3 %>" data-fancybox="gallery" ><img class="img-fluid" src="/images/uploads/<%= data.foto_3 %>" alt="..."></a></div>
                          <% } %>
                          <% if(data.foto_4 != undefined) { %>
                            <div class="col-lg-4 col-6 px-1 mb-2"><a href="/images/uploads/<%= data.foto_4 %>" data-fancybox="gallery" ><img class="img-fluid" src="/images/uploads/<%= data.foto_4 %>" alt="..."></a></div>
                          <% } %>
                          <% if(data.foto_5 != undefined) { %>
                            <div class="col-lg-4 col-6 px-1 mb-2"><a href="/images/uploads/<%= data.foto_5 %>" data-fancybox="gallery" ><img class="img-fluid" src="/images/uploads/<%= data.foto_5 %>" alt="..."></a></div>
                          <% } %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <button class="btn btn-outline-primary mb-4" type="submit">Salva Modifiche</button>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 ml-lg-auto">
            <div class="card border-0 shadow">
              <div class="card-header bg-primary-light py-4 border-0">
                <div class="media align-items-center">
                  <div class="media-body">
                    <h4 class="h6 subtitle text-sm text-primary">Modifica le informazioni del tuo alloggio</h4>
                  </div>
                </div>
              </div>
              <div class="card-body p-4">
                <p class="text-muted text-sm card-text">Seleziona il campo che ti interessa e inizia con le modifiche.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Footer-->
    <% include partials/footer.ejs %>
    <!-- Footer-->
    <!-- Script Footer -->
    <% include partials/scriptFooter.ejs %>
    <!-- Script Footer -->
  </body>
</html>